ci:
  skip: [pylint]
  autoupdate_schedule: "quarterly"

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.10"
    hooks:
      - id: ruff
        args: ["--fix"]
        exclude: &nocheck "translation_project/|example_project"
      - id: ruff-format
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==26.1.0]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-json
        exclude: "tests/config/fixtures/album_duplicated.json"
      - id: check-ast
  - repo: https://github.com/regebro/pyroma
    rev: "5.0.1"
    hooks:
      - id: pyroma
        # Must be specified because of the default value in pyroma
        always_run: false
        files: |
          (?x)^(
              README.md|
              pyproject.toml
          )$
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        args: ["-sn", "-rn"]
        types: [python]
        exclude: *nocheck
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        "types": [python]
        args: ["--strict"]
        additional_dependencies: ["django-stubs"]
        require_serial: true
        exclude: *nocheck
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.11.1"
    hooks:
      - id: pyproject-fmt
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.7.4
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]
        exclude: "tests/config/fixtures/album_duplicated.yaml"
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.2
    hooks:
      - id: bandit
        args: ["-r", "-lll"]
        exclude: *nocheck
