language: python
dist: xenial
python:
  - "3.6"

install: pip install -r requirements_dev.txt
script:
  - python manage.py compilemessages
  - coverage run --source=django_zxcvbn_password_validator ./manage.py test
  - coverage html
after_success:
  - coveralls
